<form
  class="mt-4"
  name="container-action"
  method="post"
  action="/admin/album/handle-form-action"
>
  <div class="mt-4">
    <h2>Danh sách album</h2>
    {{#if deletedCount}}
      <a href="/admin/album/bin">Danh sách album đã xoá ({{deletedCount}})</a>
    {{/if}}
  </div>
  <div class="mb-2 d-flex">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkbox-all"
      />
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
      <select
        class="form-select form-select-sm select-action"
        aria-label="Default select example"
        name="actionName"
        required
      >
        <option value="">-- Chọn --</option>
        <option value="delete">Xoá</option>
      </select>
      <button
        class="btn btn-primary mt-1 disabled"
        id="btn-checkbox-submit"
        type="submit"
      >Thực hiện</button>
    </div>
  </div>
  <table class="table table-striped-columns border border-3">
    <thead class="table-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Ca sĩ</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Rút gọn</th>
        <th scope="col">Thời gian khởi tạo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each album}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="albumIDs[]"
                value="{{this._id}}"
                id="flexCheckDefault"
              />
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.singer}}</td>
          <td>{{this.type}}</td>
          <td>{{this.description}}</td>
          <td><img
              class="img-thumbnail"
              src="{{this.img}}"
              style="
    max-height: 150px;"
            /></td>
          <td>{{this.slug}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              class="btn btn-link"
              href="/admin/album/edit/{{this._id}}"
            >Sửa</a>
            <a
              class="btn btn-link"
              href="/admin/album/delete"
              data-id="{{this._id}}"
              data-bs-toggle="modal"
              data-bs-target="#delete-album-modal"
            >Xoá</a>
            <a
              class="btn btn-link"
              href="/admin/album/show/{{this._id}}"
            >Xem</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="text-center" colspan="8">Không có album nào.
            <a href="/admin/album/create"> Tạo album mới </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Delete confirm }}
<div
  class="modal fade"
  id="delete-album-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá album?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắn chắn muốn xoá album ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-album" type="button" class="btn btn-danger">Chắc
          chắn</button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{! hidden form delete }}
<form name="delete-album-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () { var deleteModal =
  document.getElementById('delete-album-modal'); var albumID; var btnDeleteAlbum
  = document.getElementById('btn-delete-album'); var deleteForm =
  document.forms['delete-album-form']; var checkboxAll = $('#checkbox-all'); var
  albumItemCheckbox = $('input[name="albumIDs[]"]'); var btnCheckboxSubmit =
  $('#btn-checkbox-submit') // dialog confirm delete
  deleteModal.addEventListener('show.bs.modal', event => { var button =
  event.relatedTarget albumID = button.getAttribute('data-id') }); // submit
  form delete btnDeleteAlbum.onclick = function () { deleteForm.action =
  '/admin/album/' + albumID + "?_method=DELETE"; deleteForm.submit(); }; //
  check all box change checkboxAll.change(function () { var isCheckedAll =
  $(this).prop('checked') albumItemCheckbox.prop('checked', isCheckedAll)
  renderSubmitBtnCheckAll() }); // item check change
  albumItemCheckbox.change(function () { var isCheckedAll =
  albumItemCheckbox.length === $('input[name="albumIDs[]"]:checked').length;
  checkboxAll.prop('checked', isCheckedAll) renderSubmitBtnCheckAll() }); //
  render submit btn check all function renderSubmitBtnCheckAll() { var
  checkedCount = $('input[name="albumIDs[]"]:checked').length; if (checkedCount
  > 0) { btnCheckboxSubmit.removeClass('disabled') } else {
  btnCheckboxSubmit.addClass('disabled') } } })
</script>