<div class="mt-4">
    <div>
        <h2 class="text-danger">Danh sách album đã xoá</h2>
        <a href="/admin/album">Danh sách album</a>
    </div>
    <table class="table table-striped-columns border border-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Ca sĩ</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Thời gian xoá</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each album}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.singer}}</td>
                <td>{{this.type}}</td>
                <td>{{this.description}}</td>
                <td><img class="img-thumbnail" src="{{this.img}}" style="
    max-height: 150px;"></td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a class="btn btn-link btn-restore" data-id="{{this._id}}" href="">Khôi phục</a>
                    <a class="btn btn-link" href="/admin/album/delete" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-album-modal">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="text-center" colspan="8">
                   <b> Thùng rác trống</b>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Delete confirm }}
<div class="modal fade" id="delete-album-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá album?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắn chắn muốn xoá vĩnh viễn album này?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-album" type="button" class="btn btn-danger">Chắc chắn</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form --}}
<form name="delete-album-form" method="post"></form>
<form name="restore-album-form" method="post"></form>

<script>
    var deleteModal = document.getElementById('delete-album-modal');
    var btnDeleteAlbum = document.getElementById('btn-delete-album');
    var deleteForm = document.forms['delete-album-form'];
    var restoreForm = document.forms['restore-album-form'];
    var btnRestore = document.querySelectorAll('.btn-restore');
    var albumID;
    var albumID2;

    deleteModal.addEventListener('show.bs.modal', event => {
        var button = event.relatedTarget
        albumID = button.getAttribute('data-id')
    });

    btnDeleteAlbum.onclick = function () {
        deleteForm.action = '/admin/album/force/' + albumID + "?_method=DELETE";
        deleteForm.submit();
    };

    btnRestore.forEach((restoreBtn) => {
        restoreBtn.addEventListener('click', (e) => {
            e.preventDefault();

            albumID2 = restoreBtn.getAttribute('data-id');
            restoreForm.action = '/admin/album/restore/' + albumID2 + '?_method=PATCH';
            restoreForm.submit();
        });
    });

</script>