<style>
  * {
    box-sizing: border-box;
  }

  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  #myTable th,
  #myTable td {
    text-align: left;
    padding: 12px;
  }

  #myTable tr {
    border-bottom: 1px solid #ddd;
  }

  #myTable tr.header,
  #myTable tr:hover {
    background-color: #f1f1f1;
  }
</style>
<div class="mt-4"></div>
{{!-- <div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="card" style="width: 18rem;">
      <img src="{{album.img}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{album.name}}</h5>
        <p class="card-text">Singer: {{album.singer}}</p>
      </div>
    </div>
  </div> --}}
     

    <h2>Danh sách bài hát thuộc album: {{album.name}}</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <table id="myTable">
      <tr class="header">
        {{!-- <th scope="col"></th> --}}
        <th scope="col">STT</th>
        <th scope="col">Tên</th>
        <th scope="col">Ca sĩ</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Album</th>
        <th scope="col">Quốc gia</th>
        <th scope="col">Views</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col"></th>
      </tr>
      {{#each song}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.singer}}</td>
        <td>{{this.type}}</td>
        <td>{{this.album}}</td>
        <td>{{this.legion}}</td>
        <td>{{this.views}}</td>
        <td><img class="img-thumbnail" src="{{this.img}}" style="
    max-height: 150px;"></td>
        <td>
          <a class="btn btn-link" href="/admin/song/edit/{{this._id}}">Sửa</a>
          <a class="btn btn-link" href="/admin/song/delete" data-id="{{this._id}}" data-bs-toggle="modal"
            data-bs-target="#delete-song-modal">Xoá</a>
        </td>
      </tr>
       {{/each}}
    </table>



</div>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>