<div class="mt-4">Ca sĩ: {{singer.name}}</div>
<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="card" style="width: 18rem;">
      <a href="/admin/singer/{{singer.slug}}">
        <img src="/img/{{singer.img}}" class="card-img-top" alt="..." />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{singer.name}}</h5>
        <p class="card-text">Ca sĩ: {{singer.singer}}</p>
        <a href="/admin/singer/{{singer.slug}}" class="btn btn-primary">Mô tả</a>
      </div>
    </div>
  </div>

</div>